# The file list that should docker doesnot need to be concerned with, donot waant copy in docker image

# GIT
.git
.gitignore

# docker
.docker

#Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/

.env/
.venv/
venv/